.table {
  height: 70vh;
  border: 1px solid black;
  max-width: 100%;
  border-radius: 5px;
  padding: 5px;
  list-style-type: none;
  overflow-y: auto;
}
.table::-webkit-scrollbar {
  width: 8px;
}
.table::-webkit-scrollbar-track {
  background-color: #d4d4d4;
  border-radius: 10px;
}
.table::-webkit-scrollbar-thumb {
  background-color: #444343;
  border-radius: 10px;
}

.table-item {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  word-wrap: break-word;
}
